.tbody
  content: 'hello'

  [data-depth="0"]
    td:first-of-type
      padding-left: 0px

    .heading
      font-size: 20px

  [data-depth="1"]
    td:first-of-type
      padding-left: 10px

    .heading
      font-size: 18px

  [data-depth="2"]
    td:first-of-type
      padding-left: 20px

    .heading
      font-size: 16px

  [data-depth="3"]
    td:first-of-type
      padding-left: 30px

    .heading
      font-size: 14px

.link
  color: inherit
  text-decoration: none

  &:hover
    text-decoration: underline

.heading
  composes: link
  font-weight: bold

.cell
  color: white
  text-align: center

.cellCompleted
  composes: cell
  background: #2ecc71
  border-color: #2ecc71 !important


.cellIncomplete
  composes: cell
  background: #e74c3c
  border-color: #e74c3c !important

.icon
  font-size: 20px

.subtlePlayerName
  font-size: .8em
  opacity: 0
  margin-top: 2px
  transition: 150ms ease-in-out

  .row:hover &
    opacity: .95


.addPlayerTd
  text-align: right

.addPlayerButton
  border: none
  color: lighten(black, 20%)
  background: none
  appearance: none
  font-size: 14px
  font-family: inherit
  font-weight: 500

.addPlayerIcon
  font-size: 16px
  margin-right: 2px

.addPlayerModal
  width: 500px
  max-width: 100%
  background: white
  border-radius: 2px
  padding: 15px

.score
  font-weight: 400
  font-size: .9em


.checkboxBase
  display: inline-block
  margin-right: .5em
  background: rgba(white, .95)
  border-radius: 2px
  padding: 2px
  line-height: 1

  .icon
    font-size: .8em
    color: inherit

.checkboxTicked
  composes: checkboxBase
  color: #2CCC71

.checkboxEmpty
  composes: checkboxBase
  color: #2CCC71

.objectives
  font-size: 12px
  margin-top: 10px
