$bgColor = #f1f1f1

.root
  background: $bgColor
  padding: 5px
  position: relative
  margin-top: 5px
  margin-bottom: 10px
  font-size: 14px

  &:after
    _size = 10px
    content: ''
    position: absolute
    top: (_size * 2 * -1)
    left: (_size * 2)
    border: _size solid transparent
    border-bottom-color: $bgColor

  table
    margin-bottom: 0

  thead tr
  thead td
    cursor: initial

  tbody:last-child tr:last-child td
    border-bottom: none


.scrollable
  overflow: auto
  max-width: 100%

.table
  td
    padding: 8px

.team
  font-size: 1.2em
