.split
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 20px


.half
    padding: 10px
    background: #FAFAFA

.newTag
    font-size: .7em
    padding: 2px 3px
    line-height: 1
    border-radius: 2px
    background: #2ecc71
    color: white
    margin-left: 4px

.collectibleLockup
    display: flex
    margin-bottom: 10px

.collectibleImage
    height: 30px
    width: auto
    display: block

.collectibleMain
    padding-left: 10px

.collectibleSub
    font-size: .7em
    opacity: .7

span.collectibleSub
    display: inline-block
    margin-left: 4px