.root
  position: relative
  display: inline-block
  width: 35px
  height: 35px
  margin: -6px 0

  img
  .icon
    display: inline-block
    width: 100%
    height: 100%
    object-fit: contain
    object-position: center
    margin: 0 !important

.badge
  position: absolute
  background: #989898
  border-radius: 500px
  color: white
  top: -2px
  right: -2px
  font-size: 10px
  font-weight: bold
  width: 1.5em
  height: 1.5em
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 0 .5px 1px #F1F1F1


.name
  font-size: 14px

.description
  font-size: 12px

// .icon
//   display: inline-block
//   width: 100%
//   height: 100%
//   object-fit: contain
//   object-position: center
