@import '../../common.styl'

.siteNameLink
  color: inherit
  text-decoration: none

.header
  background: #121D24
  color: white

.headerInner
  max-width: 1200px
  padding: 15px
  margin: auto

  +fromTablet()
    display: flex

.headerMain
  flex: 1 0 auto
  text-align: right

  +fromTablet()
    margin-left: 30px

$siteNameColour = #737e82
$siteNameAltColour = #a6aeb0
.siteName
  margin: 0
  font-size: 22px
  font-weight: 600
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $siteNameColour

  text-align: center
  margin-bottom: 10px

  .endgame
    color: $siteNameAltColour

  +fromTablet()
    margin-top: 5px
    text-align: left

  span
    display: inline-block

  &:hover
    span
      animation: whoop 300ms linear both

    delay = 25ms
    span:nth-of-type(1) { animation-delay: 0ms }
    span:nth-of-type(2) { animation-delay: 1 * delay }
    span:nth-of-type(3) { animation-delay: 2 * delay }
    span:nth-of-type(4) { animation-delay: 3 * delay }
    span:nth-of-type(5) { animation-delay: 4 * delay }
    span:nth-of-type(6) { animation-delay: 5 * delay }
    span:nth-of-type(7) { animation-delay: 6 * delay }
    span:nth-of-type(8) { animation-delay: 7 * delay }
    span:nth-of-type(9) { animation-delay: 8 * delay }
    span:nth-of-type(10) { animation-delay: 9 * delay }
    span:nth-of-type(11) { animation-delay: 10 * delay }
    span:nth-of-type(12) { animation-delay: 11 * delay }
    span:nth-of-type(13) { animation-delay: 12 * delay }
    span:nth-of-type(14) { animation-delay: 13 * delay }
    span:nth-of-type(15) { animation-delay: 14 * delay }
    span:nth-of-type(16) { animation-delay: 15 * delay }
    span:nth-of-type(17) { animation-delay: 16 * delay }

@keyframes whoop
  0% { transform: translateY(0) }
  25% { filter: brightness(1.3) }

  50%
    transform: translateY(-3px)
    filter: brightness(1.3)

  75% { filter: brightness(1) }
  100% { transform: translateY(0) }

.inputWrapper
  position: relative

.resultsDropdown
  position: absolute
  z-index: 9
  top: calc(100% - 2px)
  left: 0
  right: 0
  background: black
  text-align: left
  background: #1E282F
  border-radius: 0 0 3px 3px
  border: 1px solid #2A323A
  border-top: none
  animation: fadeInFromAbove 250ms ease-in-out both
  box-shadow: 0 2px 8px 0 rgba(black, .08)
  transition: 150ms ease-in-out

  .searchInput:focus + &
    border-color: #7E8387
    background: #283038

@keyframes fadeInFromAbove
  from
    opacity: 0
    transform: translateY(-10px)

  to
    opacity: 1
    transform: translateY(-0)

.result
  padding: 8px 10px
  color: rgba(white, .7)
  display: block
  text-decoration: none
  transition: 50ms ease-in-out

  &:hover
    color: white

.searchInput
  border: none
  border-radius: 3px
  width: 100%
  font-size: 18px
  appearance: none
  background: rgba(white, .05)
  padding: 8px 10px
  color: white
  transition: 150ms ease-in-out
  border: 1px solid rgba(white, .05)

  &:focus
    outline: 0
    border: 1px solid rgba(white, .4)
    background: rgba(white, .09)

.toggle + .toggle
  margin-left: 30px

