.root
  content: 'root'


.table
  width: 100%
  font-size: 15px
  border-collapse: collapse

  thead
    font-weight: bold

  td
    padding: 10px 15px
    border-bottom: 1px solid #E1E1E1

.smallCell
  width: 1%
