.root
  content: 'root'

.details
  font-size: 15px
  max-width: 610px
  line-height: 1.5

.table
  width: 100%
  font-size: 15px
  border-collapse: collapse

  thead
    font-weight: bold

  td
    padding: 10px 15px
    border-bottom: 1px solid #E1E1E1

.smallCell
  width: 1%


.activityIcon
  display: inline-block
  background: #222222
  vertical-align: middle
  margin: 0ch
  width: 1.5em
  height: 1.5em
