.root
  background: white
  border-radius: 3px
  box-shadow: 0 2px 8px 0 rgba(black, .08)
  overflow: hidden

.top
  background: #F5F5F5
  padding: 10px
  display: flex

  h3
    flex: 1 0 auto
    margin: 0

.list
  padding: 15px
  margin: 0
  counter-reset: section
  list-style: none

.game + .game
  margin-top: 15px
