@import '../../common.styl'

.error
  _red = #FF5366
  background: _red
  color: #F7F7F7
  padding: 20px 10px
  text-align: center
  border-radius: 3px
  border: 1px solid darken(_red, 5%)

  strong
    font-weight: 500

.root
  content: 'root'
  position: relative
  padding-top: 5px

.inner
  max-width: 1200px
  padding: 0 15px
  margin: auto

.grandLayout
  margin: 0 -10px
  display: block

  +fromTablet()
    display: flex

.main
  +fromTablet()
    flex: 1 0 50%
  +fromDesktop()
    flex: 1 0 40%

.rest
  +fromTablet()
    flex: 1 0 50%

  +fromDesktop()
    flex: 1 0 60%
    display: flex
    flex-wrap: wrap

  > *
    flex: 1 0 40%

.topBit
  display: flex
  align-items: flex-end
  justify-content: space-between
  margin: 15px 0

.loading
  margin-left: 15px
  font-size: 16px

.name
  margin: 0
  line-height: 1
  font-size: 28px

.callouts
  margin: 0 -10px

  +fromTablet()
    display: flex

.noListPlayer
  &:before
    content: initial
    display: none

.subTitle
  margin-bottom: 0

.newFriendList
  _color = #2ecc71;
  box-shadow: 0 2px 8px 0 rgba(_color, .3)
  border: 1px solid _color
  position: relative

  &:after
    content: '✨'
    font-size: 30px
    position: absolute
    bottom: 5px
    right: 10px

  > div
    background: _color
    color: white

  +fromTablet()
    width: calc(50% - 20px)

.crimsonDaysList
  _color = #E83945;
  box-shadow: 0 2px 8px 0 rgba(_color, .3)
  border: 1px solid _color
  position: relative

  &:after
    content: '💖'
    font-size: 30px
    position: absolute
    bottom: 5px
    right: 10px

  > div
    background: _color
    color: white

  +fromTablet()
    width: calc(50% - 20px)
