.table
  font-size: 0.9375em
  border-collapse: collapse
  white-space: nowrap
  width: 100%
  margin-bottom: 50px // TEMP

  thead
    font-weight: bold

    td
      cursor: pointer

  td
    padding: 10px 15px
    border-bottom: 1px solid #E1E1E1

.tableScrollWrapper
  max-width: 100%
  overflow: auto
