.table
  font-size: 15px
  border-collapse: collapse
  white-space: nowrap
  width: 100%
  margin-bottom: 50px // TEMP

  thead
    font-weight: bold

  td
    padding: 10px 15px
    border-bottom: 1px solid #E1E1E1
