$activeColor = rgba(lighten(#3498db, 50%), .25)

.root
  display: inline-block
  flex-direction: row
  margin-top: 10px
  font-size: 13px


.radio
  position: relative
  display: inline-block
  margin-left: 10px

  input
    display: inline-block
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    opacity: 0
    z-index: 3
    padding: 0
    margin: 0

    &:checked + .radioBg
      background: $activeColor

    &:checked + .radioBg + .radioLabel
      color: white

.radioBg
  background: rgba($activeColor, 0)
  border: 1px solid $activeColor
  border-radius: 100px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1
  transition: all 150ms ease-in-out

.radioLabel
  position: relative
  z-index: 2
  font-size: 11px
  pointer-events: none
  padding: 4px 8px
  text-align: center
  cursor: pointer
  color: white
