@import '../../common.styl'

.root
  content: 'root'
  position: relative
  padding-top: 5px

.inner
  max-width: 800px
  padding: 0 15px
  margin: auto

.grandLayout
  display: flex
  margin: 0 -10px

.main
  flex: 1 0 40%

.rest
  flex: 1 0 60%
  display: flex
  flex-wrap: wrap

  > *
    flex: 1 0 40%

.topBit
  display: flex
  align-items: flex-end
  justify-content: space-between
  margin: 15px 0

.loading
  margin-left: 15px
  font-size: 16px

.name
  margin: 0
  line-height: 1
  font-size: 28px


.firstMetList
  _color = #2ecc71;
  box-shadow: 0 2px 8px 0 rgba(_color, .3)
  border: 1px solid _color
  margin-bottom: 15px

  > div:first-of-type
    background: _color
    color: white
