.root
  max-width: 1200px
  margin: auto

.recents
  margin: 0 -10px

.recentProfile
  background: white
  border-radius: 3px
  box-shadow: 0 2px 8px 0 rgba(black, .08)
  margin: 10px
  padding: 10px
  display: inline-block
  color: black
  text-decoration: none
  transition: all 150ms ease-in-out

  &:hover
    background: darken(#FFFFFF, 2.5%)
