.root
  content: 'root'

.platformLink
  display: inline-block
  text-decoration: none
  color: inherit
  background: #f8f8f8
  padding: 2px 8px
  border-radius: 2px
  transition: 300ms cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  & + &
    margin-left: 1ch

  &:hover
    // position: relative
    // top: -1px
    background: #f5f5f5
    box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);

.platformIcon
  height: 1.5em
  vertical-align: middle
