.App {
  width: 100%;
}

.indexContent {
  max-width: 1200px;
  margin: auto;
}

.playerSearch {
  display: flex;
}

.pgcrEntry {
  font-size: 0.9em;
  margin-left: 15px;
}

.playersTable {
  font-size: 0.9em;
  margin-left: 15px;
}

.split {
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.split > * {
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.activities {
  text-align: left;
  padding: 15px;
}

.activity {
  margin-bottom: 15px;
}

.footer {
  text-align: center;
  font-size: 0.9em;
  color: #525252;
}

.footer a {
  color: black;
}
