.playerListRoot {
  width: 100%;
  padding: 0 15px;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 30px;
}

.split {
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: flex-start;
}

.split > * {
  flex: 1;
}

.playerListLoading {
  background: #f5f5f5;
  border-radius: 3px;
  padding: 60px 10px;
  margin: 0 30px 30px;
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  font-size: 20px;
}

@media screen and (max-width: 679px) {
  .split {
    display: block;
  }

  .split > * {
    margin-bottom: 30px;
  }

  .playerListLoading {
    margin: 0 15px 15px;
  }
}
