.playerCount {
  background: white;
  margin: 0 30px;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.playerListSectionTitle {
  margin: 0;
  padding: 15px 10px;
}

.playerListSectionInfo {
  padding: 15px 10px;
  padding-top: 0;
  opacity: 0.75;
}

.playerListSectionInfo span {
  opacity: 0.7;
}

.playerListTitle {
  opacity: 0.8;
}

.playerListHeader {
  background: #f5f5f5;
  margin: -10px;
}

.playerListTabList {
  display: flex;
  padding: 0;
  margin: 0;
}

.playerListTab {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  text-align: center;
  padding: 8px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0.9em;
}

.playerListTab:first-child {
  border-right: 1px solid #e5e5e5;
}

.playerListTab:last-child {
  border-left: 1px solid #e5e5e5;
  margin-left: -1px;
}

.playerListTabActive {
  background: white;
  border-top-color: #e5e5e5;
  border-bottom-color: transparent;
}

@media screen and (max-width: 679px) {
  .playerCount {
    margin: 0;
  }
}
