.playerModal {
  width: 600px;
  max-width: 100%;
  background: white;
  padding: 15px;
  color: #131e24;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.playerModalHeader {
  background: #f5f5f5;
  margin: -15px -15px 0 -15px;
}

.playerModalHeaderTop {
  display: flex;
  font-size: 20px;
  padding: 15px;
}

.playerModalHeaderTop .playerInfo {
  margin-top: 5px;
}

.modalHeading {
  margin: 10px 0;
  margin-top: 20px;
}

.playerHeaderExtraInfo {
  padding: 15px;

  color: #54585c;
}

.playerHeaderExtraInfo span {
  color: #131e24;
}

.playerModal .playerIcon {
  height: 60px;
  width: 60px;
  border-radius: 3px;
}

.activity {
  display: flex;
  transition: all 150ms ease-in-out;
  padding: 10px;
  margin: -10px;
  margin-bottom: 5px;
}

.activity:hover {
  background: #f5f5f5;
}

.activity a {
  color: inherit;
  text-decoration: none;
  display: flex;
  width: 100%;
}

.activityIconWrapper {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background: #131e24;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activityIcon {
  width: 75%;
  height: 75%;
  display: block;
}

.activityInfo {
  margin-left: 15px;
  color: #151e24;
  flex: 1;
}

.activityLocation {
  margin-top: 3px;
  font-size: 0.88em;
  opacity: 0.7;
}

.activityExtra {
  text-align: right;
  opacity: 0.7;
  font-size: 0.88em;
}
