.player {
  display: flex;
  margin-bottom: 10px;
}

.playerIndex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 2ch;
  /* color: #5d5d5d; */
}

.playerIcon {
  display: block;
  width: 45px;
  height: 45px;
}

.playerInfo {
  flex: 1;
  margin-left: 10px;
}

.playerName {
  margin-bottom: 5px;
}

.playerSub {
  font-size: 0.8em;
  color: #5d5d5d;
}
